<div id=":135" class="ii gt">
    <div id=":136" class="a3s aXjCH "><img
            src="https://storage.googleapis.com/crypto_static/assets/images/regel1.png"
            class="CToWUd"><br><br>
        <font face="calibri" size="4pt">Dear {{username}},<br><br>
            Welcome to the world of trading with coinwintrade24/7.<br>
            In order to access your account please go to: <a href="https://www.coinwintrade.com/?log#form"
                target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://www.coinwintrade.com/?log%23form&amp;source=gmail&amp;ust=1592384878810000&amp;usg=AFQjCNGAKcu_RITLwiPjaMnaGnlYnJLS_w">https://www.coinwintrade.<wbr>com/?log#form</a>
                with the following username and password:<br> <b>Username: <a href="mailto:saeedbello12@gmail.com"
                        target="_blank">{{email}}</a><br>
                    Password: {{password}} </b><br>Please keep this email for your records. As a registered trader at
                coinwintrade24/7 you now have access to the industry's highest rate of return The MT4 trading platform
                Expert customer helpcenter team available 24 hours a day, 7 days a week VIP accounts If you have any
                questions or concerns, you can email us at: <font color="blue"><a
                        href="mailto:helpbox@coinwintrade.com" target="_blank">helpcenter@coinwintrade.com</a>
                </font> or message us at Whatsapp: +44 7402992804<br>
                We thank you for choosing coinwintrade24/7 and wish you successful trading at coinwintrade. The
                coinwintrade Team.
        </font>
    </div>
    <div class="yj6qo"></div>
</div>