{% extends 'dashboard_base.html' %}

{% load static%}
{% block content %}
<a id="prof"></a>
<center>
    <form method="post">
    <p>Registered User Information</p>
    
    <div class="foo"><p>First Name</p></div>
    <div class="foo"><input type="text" readonly="readonly" placeholder="{{user.first_name}}"></div>
    
    <div class="foo"><p>Last Name</p></div>
    <div class="foo"><input type="text" readonly="readonly" placeholder="{{user.last_name}}"></div>
    
    <div class="foo"><p>Phone Number</p></div>
    <div class="foo"><input type="text" readonly="readonly" placeholder="{{user.phone}}"></div>
    
    <div class="foo"><p>Email Address</p></div>
    <div class="foo"><input type="text" readonly="readonly" placeholder="{{user.email}}"></div>
    
    <div class="foo"><p>Country of Residense</p></div>
    <div class="foo"><input type="text" readonly="readonly" placeholder="{{user.country}}"></div>
    <br>
    <div class="foo"><button>Contact Support for Data Reform</button></div>
    </form>
    </center>
{% endblock %}