{% extends 'base.html' %}

{% load static%}
{% block content %}

<div id="" class="hfeed NotHome"><div id="MainContent" dir="ltr">

    <div class="wrapperPostBg" style="background: url(https://storage.googleapis.com/crypto_static/assets/08/about-us-bg.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">

</div>
<div class="titleFrame">
<div class="wrapper">
<div id="container">
    <div id="content">
        <h1 class="entry-title">About coinwintrade.com</h1>
    </div>
</div>
</div>
</div>

<div class="wrapper">


<div id="container">
<div id="content">



    <div id="post-126" class="post-126 page type-page status-publish hentry">


        <div class="entry-content">
<p><span style="color: #0a759a;"><span style="font-size: 1.5em;">Who We Are</span></span></p>
<p>coinwintrade.com is a innovative Forex/CFD and Binary trading platform provider operated by B.O. TradeFinancials, a company located in the Republic of Cyprus and licensed by the Cyprus Securities and Exchange Commission: License Number 2016/13 <a href="http://www.cysec.gov.cy/licence_members_1_en.aspx" target="_blank">www.cysec.gov.cy</a></p>
<p>coinwintrade.com offers a smart, secure, and transparent online trading experience .<br>
Execute your trades, via web mobile or tablet, on a powerful, high – performance platform, which offers a diverse array of products, advanced trading tools and features.</p>
<p>&nbsp;</p>
<p><span style="color: #0a759a;"><span style="font-size: 1.5em;">coinwintrade Platforms</span></span></p>
<p>Our trading platform offers a user -friendly trading experience and allows you to follow rapidly shifting trends in the financial markets worldwide, to trade Forex/CFDs and Binary Options.</p>
<p>Access your coinwintrade.com account via any web or mobile device using a single wallet.<br>
Maximize your trading experience with around the clock 5 days a week available assets, multimedia trading education and online helpcenter.</p>
<p>&nbsp;</p>
<p><span style="color: #0a759a;"><span style="font-size: 1.5em;">Why Trade with coinwintrade.com</span></span></p>
<ul>
<li>Over 7 years of experience in delivering a professional trading experience.</li>
<li>coinwintrade.com is regulated since 2013 CySEC license Number 2016/13.</li>
<li>A robust, reliable and stable trading technology.</li>
<li>Client funds held in segregated accounts in EU regulated banks.</li>
<li>Withdrawal Guarantee: Client’s balance is always available for withdrawal – All withdrawals are executed within 24 hours (on banking days).</li>
<li>A broad product range – Forex, CFDs &amp; Binary.</li>
<li>Personal, professional helpcenter from dedicated account managers and experienced helpcenter team.</li>
<li>Cross-device capability for web, mobile and tablet.</li>
<li>A vast selection of educational resources.</li>
<li>A large variety of assets and multiple trading instruments.</li>
<li>An intuitive user interface providing a user-friendly trading experience.</li>
</ul>
<p>&nbsp;</p>
<p><span style="color: #0a759a;"><span style="font-size: 1.5em;">coinwintrade.com’s Trading Platforms</span></span></p>
<p>Powered by TechFinancials coinwintrade.com is backed by its sister company TechFinancials, a leading provider of next generation trading technology, services and advanced pricing algorithms. Techfinancials is listed on the London Stock Exchange AIM market (symbol TECH).</p>
<p>&nbsp;</p>
<p><span style="color: #0a759a;"><span style="font-size: 1.5em;">coinwintrade.com’s Facilities &amp; Staff</span></span></p>
<p>B.O. TradeFinancials is owned and managed by a highly experienced team of professionals, who have a wealth of specialized knowledge in the online trading arena, with forex, CFD’s and binary options.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>





        </div>
    </div><!-- .post -->

    <a class="toTheTop" href="#" onclick="window.parent.scroll(0,0); return false">Back to top</a>		</div><!-- #content -->
</div><!-- #container -->


<div id="primary" class="sidebar">
<ul class="xoxo">
<li id="nav_menu-4" class="widget-container widget_nav_menu"><div class="menu-sidebarmenu-container"><ul id="menu-sidebarmenu" class="menu"><li id="menu-item-30548" class="icon-legal icon-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-30548"><a href="#">Information</a>
<ul class="sub-menu">
<li id="menu-item-30549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30549"><a href="/about">About coinwintrade.com</a></li>
<li id="menu-item-55903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55903"><a href="our-products/our-products.html">Our Products</a></li>
<li id="menu-item-43590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43590"><a href="regulation/regulation/.html">Regulation</a></li>
<li id="menu-item-30550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30550"><a href="contactus/contactus.html">Contact Us</a></li>
</ul>
</li>


<ul class="sub-menu">

<ul class="sub-menu">


</ul>


<ul class="sub-menu">


</ul>




</ul>

<li id="menu-item-30578" class="icon-legal icon-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-30578"><a href="#">Legal</a>
<ul class="sub-menu">
<li id="menu-item-54656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54656"><a href="trading-benefits/trading-benefits.html">Trading Benefits Terms &amp; Conditions</a></li>
<li id="menu-item-30579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30579"><a href="termsandconditions/termsandconditions.html">Legal Terms &amp; Conditions</a></li>



<ul class="sub-menu">






</ul>


</ul>
</li></ul></div><!-- #primary .sidebar -->
</li></ul></div><!-- wrapper -->

</div> <!--/MainContent-->


</div><!--/wrapper-->
</div>
{% endblock %}