{% extends 'base.html' %}
{% load static%}
{% block content %}
<div id="" class="hfeed NotHome"><div id="MainContent" dir="ltr">

    <div class="wrapperPostBg" style="background: url(https://storage.googleapis.com/crypto_static/assets/07/contact_us_gb.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">

</div>
<div class="titleFrame">
<div class="wrapper">
<div id="container">
    <div id="content">
        <h1 class="entry-title">Contact Us</h1>
    </div>
</div>
</div>
</div>

<div class="wrapper">


<div id="container">
<div id="content">



    <div id="post-128" class="post-128 page type-page status-publish hentry">


        <div class="entry-content">
<div style="margin: 30px;"></div>
<table>
<tbody>
<tr>
<td style="width: 400px; vertical-align: top;">
<h2></h2>
<p><span style="color: #0a759a;"><span style="font-size: 1.5em;">Operations Center</span></span></p>
<p style="padding: 3px 0;"><strong>Email:</strong> <a href="mailto:helpcenter@coinwintrade.com">helpcenter@coinwintrade.com</a></p>
<p style="padding: 3px 0;"><strong>Address:</strong> 92 Laight St #A Tribeca, New York, NY</p>
<p style="padding: 3px 0;"><strong>Whatsapp:</strong> +44 7402992804</p>

<h2></h2>
</td>
</tr>
</tbody>
</table>





        </div>
    </div><!-- .post -->

    <a class="toTheTop" href="#" onclick="window.parent.scroll(0,0); return false">Back to top</a>		</div><!-- #content -->
</div><!-- #container -->


<div id="primary" class="sidebar">
<ul class="xoxo">
<li id="nav_menu-4" class="widget-container widget_nav_menu"><div class="menu-sidebarmenu-container"><ul id="menu-sidebarmenu" class="menu"><li id="menu-item-30548" class="icon-legal icon-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-30548"><a href="#">Information</a>
<ul class="sub-menu">
<li id="menu-item-30549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30549"><a href="../aboutus/aboutus.html">About BinaryTradeOption</a></li>
<li id="menu-item-55903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-55903"><a href="../our-products/our-products.html">Our Products</a></li>
<li id="menu-item-43590" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43590"><a href="../regulation/regulation/.html">Regulation</a></li>
<li id="menu-item-30550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30550"><a href="contactus.html">Contact Us</a></li>
</ul>
</li>


<ul class="sub-menu">

<ul class="sub-menu">


</ul>


<ul class="sub-menu">


</ul>




</ul>

<li id="menu-item-30578" class="icon-legal icon-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-30578"><a href="#">Legal</a>
<ul class="sub-menu">
<li id="menu-item-54656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54656"><a href="../trading-benefits/trading-benefits.html">Trading Benefits Terms &amp; Conditions</a></li>
<li id="menu-item-30579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30579"><a href="../termsandconditions/termsandconditions.html">Legal Terms &amp; Conditions</a></li>



<ul class="sub-menu">






</ul>


</ul>
</li></ul></div><!-- #primary .sidebar -->
</li></ul></div><!-- wrapper -->

</div> <!--/MainContent-->


</div><!--/wrapper-->

</div>
{% endblock %}