

<!DOCTYPE HTML>
<html>
    {% load static %}
<head>
<meta http-equiv="content-type" content="text/html" />
<meta name="author" content="Imad Alhasan" />
<title>DashBoard</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<script src="{% static 'assets/jquery.min.js' %}"></script>
<link rel="shortcut icon" href="../images/favicon.png">
<link rel="stylesheet"href="{% static 'assets/new.css' %}"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
</head>
<style>
  #nav #leftmenu {
    position: relative;
    width: 15em;
    height: 5em;
    line-height: 1em;
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: calibri;
    background: black;
}
</style>
<body>









<script>

$(document).ready(function() {
    $("img").on("contextmenu",function(){
       return false;
    }); 
}); 


if ($(window).width() < 960) {
$(function(){
$("#nav").hide();
$("#navcove").click(function(){
$("#nav").toggle();    
});  
});
}
</script>





<div id="cover">
<div id="mainnav">
<div id="navcove"><div id="navbar" style="background-image: url('https://storage.googleapis.com/crypto_static/assets/menu.png');"></div></div>
<div id="nav">
 <a href="https://coinwintrade.com" >
<center>
<div id="leftmenu"><div id="textt3"><center><i class='fas fa-home'></i><div id="logoimg"><img src="{% static 'assets/images/regel1.png' %}"/></div></center></div></div>
</center>
</a>

<br />
<hr />
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dashboard/?trad"><i class="fa fa-area-chart"></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TRADE</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dashboard/profile/?prof#prof"><i class='fas fa-universal-access'></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>USER PROFILE</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dashboard/investment/?plan#plan"><i class='far fa-images'></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>INVESTMENT PLAN</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dashboard/withdraw/?wit#wit"><i class="fa fa-money"></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>WITHDRAW</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dashboard/deposit/?dep#dep"><i class="fa fa-money"></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>DEPOSITS</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="?econ#econ"><i class='far fa-calendar-alt'></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ECONOMIC CALENDAR</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="?tradsig#tradsig"><i class='fas fa-signal'></i></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TRADING SIGNALS</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="?marover#marover"><i class='fa fa-pie-chart'></i></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MARKET OVERVIEW</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/dashboard/support/?sup#sup"><i class='far fa-envelope'></i></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SUPPORT</b></a></div>
<div id="leftmenu"><div id="textt">&nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout"><i class='fas fa-sign-out-alt'></i></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>LOGOUT</b></a></div>

</div>

<div id="nav2">
<a id="upw"></a>

<div id="tradecover0">
</div>
<div id="line"><!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Financial Markets</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "title": "S&P 500",
      "proName": "INDEX:SPX"
    },
    {
      "title": "Shanghai Composite",
      "proName": "INDEX:XLY0"
    },
    {
      "title": "EUR/USD",
      "proName": "FX_IDC:EURUSD"
    },
    {
      "title": "BTC/USD",
      "proName": "BITFINEX:BTCUSD"
    },
    {
      "title": "ETH/USD",
      "proName": "BITFINEX:ETHUSD"
    }
  ],
  "theme": "light",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END --></div>
<center>
<div id="leftmenu"style="color: black;">Dashboard<br /><i class='fas fa-user-alt'></i>&nbsp;Welcome {{user.first_name}} {{user.last_name}}</div>
</center>



<center>
<div id="divide">

<div id="cash"style="background:#138604;">
<center>
<table width="100%">
<tr>
<td style="position:relative;left:2em;"><span class="font"><i class="fa fa-money"></i></span></td>
<td style="position:relative;float:right;left:-2em;"><span class="font2"><b>Deposit<br /><span class="font3">$0</span></b></span></td>
</tr>
</table>
</center>
<hr />
<center>
<table width="100%">
<tr>
<td style="position:relative;left:1.5em;bottom:0px;"><span class="font4"><b><i class='fas fa-sync-alt'></i>&nbsp;&nbsp;&nbsp;Last 24Hours</b></span></td>
</tr>
</table>
</center>
</div>





<div id="cash"style="background: #ba0359;">
<center>
<table width="100%">
<tr>
<td style="position:relative;left:2em;"><span class="font"><i class="fa fa-money"></i></span></td>
<td style="position:relative;float:right;left:-2em;"><span class="font2"><b>Profit Earn<br /><span class="font3">$0</span></b></span></td>
</tr>
</table>
</center>
<hr />
<center>
<table width="100%">
<tr>
<td style="position:relative;left:1.5em;bottom:0px;"><span class="font4"><b><i class='fas fa-sync-alt'></i>&nbsp;&nbsp;&nbsp;Last 24Hours</b></span></td>
</tr>
</table>
</center>
</div>




<div id="cash"style="background:#049a78;">
<center>
<table width="100%">
<tr>
<td style="position:relative;left:2em;"><span class="font"style="color:#302a21;"><i class="fa fa-money"></i></span></td>
<td style="position:relative;float:right;left:-1em;"><span class="font2"><b>Current Bal.<br /><span class="font3">$0</span></b></span></td>
</tr>
</table>
</center>
<hr />
<center>
<table width="100%">
<tr>
<td style="position:relative;left:1.5em;bottom:0px;"><span class="font4"><b><i class='fas fa-sync'></i>&nbsp;&nbsp;&nbsp;Last 24Hours</b></span></td>
</tr>
</table>
</center>
</div>







</div>
</center>




<div id="trade">
<center>
<img src="https://storage.googleapis.com/crypto_static/assets/07/loader.gif"/>
<div id="posi2"><p><font color="black"><i class='fas fa-user-alt'></i></font><br /><font color="blue">Caution:</font> Your Trading Account is a Special Account so avoid Trading for Yourself and note that your account are been managed by our Assigned Account Managers</p><br /></div>
 </center>
 <br /><hr /> 
<div class="tradingview-widget-container">
  <div id="tradingview_b1da8"></div>
   <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 980,
  "height": 610,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "Dark",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "container_id": "tradingview_b1da8"
}
  );
  </script>
</div>
<div id="trade">
<div id="newc"><div id="logoimg"><img src="{% static 'assets/images/regel1' %}"/></div></div>
<iframe src="https://freeserv.dukascopy.com/2.0/index.php?path=chart%2Fpopup&instrument=EUR%2FUSD&period=8&live=false&eet=true&preload=false&lang=en" class="mini-platform" width="100%" frameBorder="0" height="100%"></iframe>

</div> 
 
 


<br /><br />
<!-- TradingView Widget BEGIN -->
<center>
<div id="newc2">Economic Calendar By <img src="icon.png"style="position: absolute;"/></div>
<a id="econ"></a>
</center>
<br /><br /><br />
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
  {
  "width": "100%",
  "height": "100%",
  "locale": "en",
  "importanceFilter": "-1,0,1"
}
  </script>
</div>
<!-- TradingView Widget END -->








<center>
<div id="newc2"style="position: absolute;margin-top:-4.5em;z-index:+999999999999;">Market Overview By <img src="icon.png"style="position: absolute;"/></div>
<a id="marover"></a>
</center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container"style="position: absolute;margin-top:-2em;">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "",
  "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
  "plotLineColorFalling": "rgba(33, 150, 243, 1)",
  "gridLineColor": "rgba(233, 233, 234, 1)",
  "scaleFontColor": "rgba(53, 28, 117, 1)",
  "belowLineFillColorGrowing": "rgba(5, 122, 205, 0.12)",
  "belowLineFillColorFalling": "rgba(5, 122, 205, 0.12)",
  "symbolActiveColor": "rgba(225, 239, 249, 1)",
  "tabs": [
    {
      "title": "Indices",
      "symbols": [
        {
          "s": "INDEX:SPX",
          "d": "S&P 500"
        },
        {
          "s": "INDEX:XLY0",
          "d": "Shanghai Composite"
        },
        {
          "s": "INDEX:DOWI",
          "d": "Dow 30"
        },
        {
          "s": "INDEX:NKY",
          "d": "Nikkei 225"
        },
        {
          "s": "INDEX:DAX",
          "d": "DAX Index"
        },
        {
          "s": "OANDA:UK100GBP",
          "d": "FTSE 100"
        }
      ],
      "originalTitle": "Indices"
    },
    {
      "title": "Commodities",
      "symbols": [
        {
          "s": "CME_MINI:ES1!",
          "d": "E-Mini S&P"
        },
        {
          "s": "CME:E61!",
          "d": "Euro"
        },
        {
          "s": "COMEX:GC1!",
          "d": "Gold"
        },
        {
          "s": "NYMEX:CL1!",
          "d": "Crude Oil"
        },
        {
          "s": "NYMEX:NG1!",
          "d": "Natural Gas"
        },
        {
          "s": "CBOT:ZC1!",
          "d": "Corn"
        }
      ],
      "originalTitle": "Commodities"
    },
    {
        
      "title": "Bonds",
      "symbols": [
        {
          "s": "CME:GE1!",
          "d": "Eurodollar"
        },
        {
          "s": "CBOT:ZB1!",
          "d": "T-Bond"
        },
        {
          "s": "CBOT:UD1!",
          "d": "Ultra T-Bond"
        },
        {
          "s": "EUREX:GG1!",
          "d": "Euro Bund"
        },
        {
          "s": "EUREX:II1!",
          "d": "Euro BTP"
        },
        
        {
          "s": "EUREX:HR1!",
          "d": "Euro BOBL"
        }
      ],
      "originalTitle": "Bonds"
    },
    {
      "title": "Forex",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      
      "title": "CryptoStartFx",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      "originalTitle": "Forex"
    }
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->














<center>
<div id="newc2"style="position: absolute;margin-top:-4.5em;z-index:+999999;">Market Overview By <img src="icon.png"style="position: absolute;"/></div>
</center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container"style="position: relative;margin-top:-2em;">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "",
  "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
  "plotLineColorFalling": "rgba(33, 150, 243, 1)",
  "gridLineColor": "rgba(233, 233, 234, 1)",
  "scaleFontColor": "rgba(53, 28, 117, 1)",
  "belowLineFillColorGrowing": "rgba(5, 122, 205, 0.12)",
  "belowLineFillColorFalling": "rgba(5, 122, 205, 0.12)",
  "symbolActiveColor": "rgba(225, 239, 249, 1)",
  "tabs": [
    {
      "title": "Indices",
      "symbols": [
        {
          "s": "INDEX:SPX",
          "d": "S&P 500"
        },
        {
          "s": "INDEX:XLY0",
          "d": "Shanghai Composite"
        },
        {
          "s": "INDEX:DOWI",
          "d": "Dow 30"
        },
        {
          "s": "INDEX:NKY",
          "d": "Nikkei 225"
        },
        {
          "s": "INDEX:DAX",
          "d": "DAX Index"
        },
        {
          "s": "OANDA:UK100GBP",
          "d": "FTSE 100"
        }
      ],
      "originalTitle": "Indices"
    },
    {
      "title": "Commodities",
      "symbols": [
        {
          "s": "CME_MINI:ES1!",
          "d": "E-Mini S&P"
        },
        {
          "s": "CME:E61!",
          "d": "Euro"
        },
        {
          "s": "COMEX:GC1!",
          "d": "Gold"
        },
        {
          "s": "NYMEX:CL1!",
          "d": "Crude Oil"
        },
        {
          "s": "NYMEX:NG1!",
          "d": "Natural Gas"
        },
        {
          "s": "CBOT:ZC1!",
          "d": "Corn"
        }
      ],
      "originalTitle": "Commodities"
    },
    {
        
      "title": "Bonds",
      "symbols": [
        {
          "s": "CME:GE1!",
          "d": "Eurodollar"
        },
        {
          "s": "CBOT:ZB1!",
          "d": "T-Bond"
        },
        {
          "s": "CBOT:UD1!",
          "d": "Ultra T-Bond"
        },
        {
          "s": "EUREX:GG1!",
          "d": "Euro Bund"
        },
        {
          "s": "EUREX:II1!",
          "d": "Euro BTP"
        },
        
        {
          "s": "EUREX:HR1!",
          "d": "Euro BOBL"
        }
      ],
      "originalTitle": "Bonds"
    },
    {
      "title": "Forex",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      
      "title": "CryptoStartFx",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      "originalTitle": "Forex"
    }
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->





<center>
<div id="newc2"style="position: absolute;margin-top:-4.5em;z-index:+999999;">Stock Market By <img src="icon.png"style="position: absolute;"/></div>
<a id="econ"></a>
</center>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container"style="position: relative;margin-top:-2em;">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-hotlists.js" async>
  {
  "exchange": "US",
  "showChart": true,
  "locale": "en",
  "width": "100%",
  "height": "100%",
  "largeChartUrl": "",
  "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
  "plotLineColorFalling": "rgba(33, 150, 243, 1)",
  "gridLineColor": "rgba(242, 243, 245, 1)",
  "scaleFontColor": "rgba(131, 136, 141, 1)",
  "belowLineFillColorGrowing": "rgba(5, 122, 205, 0.12)",
  "belowLineFillColorFalling": "rgba(5, 122, 205, 0.12)",
  "symbolActiveColor": "rgba(225, 239, 249, 1)"
}
  </script>
</div>
<!-- TradingView Widget END -->



</div>


</div>




<div id="otherpages">
    {% block content %}
    {% endblock %}
    
    </div>

<div id="down"><a href="#1down"><font size="60pt"color="red"><i class='fas fa-sort-down'></i></font></a></div>
<div id="up"><a href="#upw"><font size="60pt"color="red"><i class='fas fa-sort-up'></i></font></a></div>

<a id="1down"></a>





























<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
 <script> 
 function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  
  if(document.execCommand("copy")){    
   alert("Copied to Clipboard"); 
  }
  $temp.remove();
} 
</script>















</div>
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5e260fd7daaca76c6fceff86/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>