{% extends 'base.html' %}

{% load static%}
{% block content %}


<div id="" class="hfeed ">
    <div id="MainContent" dir="ltr">
        <section class="bannerBlock">
            <div class="bx-wrapper">
                <div class="bx-viewport">
                    <div class="bx-wrapper" style="max-width: 100%;">
                        <div class="bx-viewport"
                            style="width: 100%; overflow: hidden; position: relative; height: 550px;">
                            <ul class="bxslider" id="bxslider" style="width: auto; position: relative;">
                                <li style="float: none; list-style: none; position: absolute; width: 1689px; z-index: 51; display: block; opacity: 0;"
                                    class="bx-clone ">
                                    <div
                                        style="background-image: url('https://storage.googleapis.com/crypto_static/assets/07/banner_2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                                        <img src="{% static 'assets/07/banner_2.jpg' %}" style="opacity: 0; ">
                                        <div class="bannerText">
                                            <div class="wrapper">
                                                <div class="bannerContent">
                                                    <div class="slide_title">We Have
                                                    </div>
                                                    <div>The Full Package</div>
                                                    <p>Benefit from a packed product suite of</p>
                                                    <p>Forex/CFDs &amp; Binary. Coinwintrade provides</p>
                                                    <p>an enjoyable trading experience with a </p>
                                                    <p>straightforward and intuitive platform.</p>
                                                    <a href="?reg#form" class="slideBtn openAccBtn">Open Account</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bannerTextBottom">
                                            <div class="wrapper">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="float: none; list-style: none; position: absolute; width: 1689px; z-index: 0; display: none;"
                                    class="bx-clone ">
                                    <div
                                        style="background-image: url('https://storage.googleapis.com/crypto_static/assets/07/banner_expertise_white.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                                        <img src="{% static 'assets/07/banner_expertise_white.jpg' %}"
                                            style="opacity: 0; ">
                                        <div class="bannerText">
                                            <div class="wrapper">
                                                <div class="bannerContent">
                                                    <div class="slide_black">
                                                        <div class="slide_title">The Expertise</div>
                                                        <div>You Need To Succeed</div>
                                                        <p>Coinwintrade is a brokerage that works</p>
                                                        <p>with you. We assist, educate and train</p>
                                                        <p>our clients to make educated</p>
                                                        <p>investment decisions.</p>
                                                        <a href="?reg#form" class="slideBtn openAccBtn">Open
                                                            Account</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bannerTextBottom">
                                            <div class="wrapper">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li style="float: none; list-style: none; position: absolute; width: 1689px; z-index: 0; display: list-item; opacity: 0.201048;"
                                    class="bx-clone ">
                                    <div
                                        style="background-image: url('https://storage.googleapis.com/crypto_static/assets/07/banner_lse.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                                        <img src="{% static 'assets/07/banner_lse.jpg' %}" style="opacity: 0; ">
                                        <div class="bannerText">
                                            <div class="wrapper">
                                                <div class="bannerContent">
                                                    <div class="slide_title">Trade SAFE</div>
                                                    <div>Trade Coinwintrade</div>
                                                    <p>BO Tradefinancials is a part of the</p>
                                                    <p>TechFinancials group and is listed on</p>
                                                    <p>London Stock Exchange AIM</p>
                                                    <a href="?reg#form" class="slideBtn openAccBtn">Open Account</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bannerTextBottom">
                                            <div class="wrapper">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="bx-controls bx-has-pager">
                            <div class="bx-pager bx-default-pager">
                                <div class="bx-pager-item"><a href="" data-slide-index="0"
                                        class="bx-pager-link active">1</a></div>
                                <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a>
                                </div>
                                <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="assetsTickerBlock">
                <div class="assetsTicker">
                    <div class="ticker">
                        <div class="stocks-container" id="stocks-container"></div>
                    </div>
                </div>
            </div>
        </section>
        {% if popup %}
        <script>
            function myFunction(){
            window.alert('Registration Successful...')
            }
        
        myFunction();
       
        </script>
         {% endif %}
        
        <section
            style="background: url(https://storage.googleapis.com/crypto_static/assets/07/3icons.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
            <div class="platform_block wrapper">
                <div class="platform_text">
                    <p class="platform_title">Coinwintrade TECHNOLOGY</p>
                    <p class="platform_descr">Innovative and User Friendly, you can explore a world of financial
                        opportunities from a single screen: <span>Forex, CFDs, Bitcoin &amp; Binary</span></p>
                    <p class="platform_descr">Join us and trade on a broad variety of assets and instruments
                        including: stocks, commodities, currencies &amp; indices, for a completely tailored trading
                        experience!</p>
                </div>
                <div class="platform_icons">
                    <p class="platform_title">trade in just 3 steps</p>
                    <div class="platform_icon"><img class="alignnone size-full wp-image-52743" alt="PICK_A_PRODUCT"
                            src="{% static 'assets/06/PICK_A_PRODUCT.png' %}" width="87" height="88"><br>
                        <span>PICK A PRODUCT</span></div>
                    <div class="platform_icon"><img class="alignnone size-full wp-image-52741" alt="CHOOSE_AN_ASSET"
                            src="{% static 'assets/06/CHOOSE_AN_ASSET.png' %}" width="87" height="88"><br>
                        <span>CHOOSE AN ASSET</span></div>
                    <div class="platform_icon"><img class="alignnone size-full wp-image-52748" alt="INVEST_AND_TRADE"
                            src="{% static 'assets/06/INVEST_AND_TRADE.png' %}" width="90" height="90"><br>
                        <span>INVEST AND TRADE</span></div>
                </div>
            </div>
        </section>


        <style>
            .boxx {
                position: relative;
                width: 18em;
                font-weight: bold;
                font-family: arial;
                border-radius: 30px;
                display: inline-block;
                height: 28em;
                border: 6px inset gray;
            }

            button {
                cursor: pointer;
            }

            .boxx span {
                font-size: 18pt;
                display: block;
                margin: 1em 0em 0em;
            }
        </style>
        <center>
            <h1><b>Our Offers</b></h1>
            <div class="boxx" style="background: dodgerblue;color:white;border:6px solid dodgerblue;">
                <span>Starter Plan</span><br>
                <h1><b>
                    </b></h1><br>
                    <h1><b>$200 - $1,000</b></h1>
                <h4>Min.<br>5% deposit bonus</h4><br>
                <h4>Integrated online helpcenter</h4><br>
                <h5 style="width: 100%;display:block;color:white;height:3em;line-height:3em;background:black;">
                    <b>DEDICATED ACCOUNT MANAGER</b></h5>
                <br>
                <h4>Maintenance Fees: Yes</h4><br>
                <h4>Trading Freq.: Low</h4><br>
                <h4>Local language helpcenter</h4><br>
                <h4>Free Withdrawal: No</h4><br>
                <a href="?reg#form"><button>Get Started</button></a>

            </div>


            <div class="boxx" style="background: dodgerblue;color:white;border:6px solid dodgerblue;">
                <span>Platinum Plan</span><br>
                <h1><b></b></h1><br>
                <h1><b>$1,500 - $15,000</b></h1>
                <h4>Min.<br>10% deposit bonus</h4><br>
                <h4>Integrated online helpcenter</h4><br>
                <h5 style="width: 100%;display:block;color:white;height:3em;line-height:3em;background:black;">
                    <b>SENIOR ACCOUNT MANAGER</b></h5>
                <br>
                <h4>Maintenance Fees: No</h4><br>
                <h4>Trading Freq.: Low</h4><br>
                <h4>Local language helpcenter</h4><br>
                <h4>Free Withdrawal: Yes</h4><br>
                <a href="?reg#form"><button>Get Started</button></a>

            </div>



            <div class="boxx" style="background: dodgerblue;color:white;border:6px solid dodgerblue;">
                <span>Gold Plan</span><br>
                <h1><b></b></h1><br>
                <h1><b>$15,000 - $50,000</b></h1>
                <h4>Min.<br>12.5% deposit bonus</h4><br>
                <h4>Integrated online helpcenter</h4><br>
                <h5 style="width: 100%;display:block;color:white;height:3em;line-height:3em;background:black;">
                    <b>PERSONAL RELATIONSHIP MANAGER</b></h5>
                <br>
                <h4>Maintenance Fees: No</h4><br>
                <h4>Trading Freq.: High</h4><br>
                <h4>Local language helpcenter</h4><br>
                <h4>Free Withdrawal: Yes</h4><br>
                <a href="?reg#form"><button>Get Started</button></a>

            </div>


            <div class="boxx" style="background: dodgerblue;color:white;border:6px solid dodgerblue;">
                <span>Diamond Plan</span><br>
                <h1><b></b></h1><br>
                <h1><b>$50,000 - $100,000</b></h1>
                <h4>Min.<br>20% deposit bonus</h4><br>
                <h4>Integrated online helpcenter</h4><br>
                <h5 style="width: 100%;display:block;color:white;height:3em;line-height:3em;background:black;">
                    <b>PERSONAL RELATIONSHIP MANAGER</b></h5>
                <br>
                <h4>Maintenance Fees: No</h4><br>
                <h4>Trading Freq.: Max</h4><br>
                <h4>Local language helpcenter</h4><br>
                <h4>Free Withdrawal: Yes</h4><br>
                <a href="?reg#form"><button>Get Started</button></a>

            </div>
        </center>

        <script>

            document.addEventListener("contextmenu", function (e) {
                e.preventDefault();
            }, false);

        </script>
        <br>
        <center>
            <h2><b>
                    <font face="arial black">OUR FULLY LATEST AUTOMATED PAYOUT SYSTEM</font>
                </b></h2>

            <iframe
                src="https://www.btcwidget.info/widget/liveTx/%23000000/%23000000/%23000000/%23ffffff/%23000000/1100/500/10"
                width="1100" height="500" frameborder="0" scrolling="no"></iframe>
        </center>
        <div style="position: relative;width:100%;height:auto;background:black;top:-0.8em;">
            <div class="tradingview-widget-container" style="width: 100%; height: 46px;">
                <iframe scrolling="no" allowtransparency="true" frameborder="0"
                    src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22INDEX%3ASPX%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITFINEX%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITFINEX%3AETHUSD%22%7D%5D%2C%22isTransparent%22%3Afalse%2C%22displayMode%22%3A%22adaptive%22%2C%22colorTheme%22%3A%22light%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A46%2C%22utm_source%22%3A%22Coinwintrade.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D"
                    style="box-sizing: border-box; height: 46px; width: 100%;"></iframe>

                <style>
                    .tradingview-widget-copyright {
                        font-size: 13px !important;
                        line-height: 32px !important;
                        text-align: center !important;
                        vertical-align: middle !important;
                        font-family: 'Trebuchet MS', Arial, sans-serif !important;
                        color: #9db2bd !important;
                    }

                    .tradingview-widget-copyright .blue-text {
                        color: #2196f3 !important;
                    }

                    .tradingview-widget-copyright a {
                        text-decoration: none !important;
                        color: #9db2bd !important;
                    }

                    .tradingview-widget-copyright a:visited {
                        color: #9db2bd !important;
                    }

                    .tradingview-widget-copyright a:hover .blue-text {
                        color: #38acdb !important;
                    }

                    .tradingview-widget-copyright a:active .blue-text {
                        color: #299dcd !important;
                    }

                    .tradingview-widget-copyright a:visited .blue-text {
                        color: #2196f3 !important;
                    }
                </style>
            </div>
            <!-- TradingView Widget END -->




        </div>






        <style type="text/css">
            input[type=text],
            input[type=password],
            input[type=email] {
                width: 20em;
                text-indent: 0.8em;
                height: 2.5em;
                font-size: 12pt;
                background: white;
                color: black;
                display: block;
            }

            .blackme {
                border: 2px solid black;
            }


            button {
                width: 10em;
                height: 2.5em;
                font-size: 12pt;
                background: black;
                color: white;
                display: block;
            }


            .line {
                position: relative;
                width: 20em;
                height: auto;
                color: black;
                font-size: 11pt;
                display: block;
                margin-bottom: 1em;
                float: none;
            }

            select {
                width: 24em;
                height: 2.5em;
                border: 2px solid black;
                display: block;
            }

            #id_password1 {
                border: 2px solid black;
            }

            #id_password2 {
                border: 2px solid black;
            }

            #bgnew1 {
                position: relative;
                width: 100%;
                display: block;
                height: auto;
                background-image: url(bg.png);
            }
        </style>
        <center>
            <a id="form"></a>
            <h2><b>Get Started Today With Coinwintrade</b></h2>
            <p class="lead"><b>Open account for free and start trading Crypto Currencys!</b></p>
        </center>

        <center>
            <div id="bgnew1">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="line">
                        <label for="f1" class="login-lbl" style="font-weight:bold;">
                            <h2><b>Registration Form</b></h2>
                        </label><br>
                        <label for="f1" class="login-lbl" style="font-weight:bold;">Upload Valid ID CARD</label>
                        {{form.idcard}}
                    </div>


                    <div class="line">
                        <label for="f1" class="login-lbl" style="font-weight:bold;">FIRST-NAME</label>
                        {{ form.first_name}}
                    </div>


                    <div class="line">
                        <label for="f1" class="login-lbl" style="font-weight:bold;">LAST-NAME</label>
                        {{ form.last_name}}
                    </div>

                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">Country</label>
                        {{form.country}}
                    </div>





                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">PHONE NUMBER</label>
                        {{ form.phone}}
                    </div>


                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">CURRENCY</label>
                        {{form.currency}}
                    </div>

                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">EMAIL ADDRESS</label>
                        {{form.email}}
                    </div>

                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">USERNAME</label>
                        {{form.username}}
                    </div>




                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">PASSWORD</label>
                        {{form.password1}}
                    </div>



                    <div class="line">
                        <label for="f2" class="login-lbl" style="font-weight:bold;">CONFIRM PASSWORD</label>
                        {{form.password2}}
                    </div>
                    


                    <div class="line clearfix">
                        <button type="submit">Signup</button>
                    </div>

                    <div class="line" style="color: black;">
                        <p><a href="/password-reset" style="color: black;font-weight:bold;">Forgot your password?</a>
                        </p>
                        <br>
                        <p style="color: black;font-weight:bold;">Already Registered? <a href="/login"
                                style="color: black;font-weight:bold;">Login</a></p>
                    </div>

                </form>

            </div>
        </center>





























































































        <section
            style="background: url(https://storage.googleapis.com/crypto_static/assets/07/simulator_bg.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
            <div class="wrapper simulator_wrapper">
                <div class="simulator_block">
                    <div class="simulator_title">OUR SYSTEM PROVIDES THE FOLLOWING TRADING CONDITIONS</div>
                    <ul>
                        <li>Tight Spread</li>
                        <li>Default Leverage of 1:50.<br>
                            <span>Advanced traders may request an increased leverage</span></li>
                        <li>Zero Margins</li>
                        <li>Multiple Instruments &amp; Range of Expiries</li>
                        <li>High Returns on Successful Binary Trades</li>
                        <li>Trade FX and Binary “Side By Side”<br>
                            <span>1 Trading Account, 2 Trading Platforms</span></li>
                    </ul>
                </div>
                <div class="simulator_frame">
                    <div><img alt="simulator_frame" src="{% static 'assets/07/simulator_frame.png' %}"></div>
                    <p><a class="learnMoreBtn" href="?reg#form">TRADE NOW</a></p>
                </div>
            </div>
        </section>
    
        <section class="carouselBlock"
            style="background: url(https://storage.googleapis.com/crypto_static/assets/07/carousel_bg1.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
            <div class="blockText">
                <h3>Why Trade with Coinwintrade?</h3>
            </div>
            <div class="bx-wrapper wrapper">
                <div class="bx-viewport">
                    <div class="bx-wrapper" style="max-width: 1200px;">
                        <div class="bx-viewport"
                            style="width: 100%; overflow: hidden; position: relative; height: 338px;">
                            <div class="carousel" id="carousel"
                                style="width: 815%; position: relative; transition-duration: 0.5s; transform: translate3d(-3600px, 0px, 0px);">
                                <div class="slide bx-clone"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/LSE250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            BO Tradefinancials is a part of the TechFinancials group and is listed
                                            on London Stock Exchange AIM </div>
                                    </div>
                                </div>
                                <div class="slide bx-clone"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/fairness250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            A Regulated Broker since 2013 </div>
                                    </div>
                                </div>
                                <div class="slide bx-clone"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/banks_250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            Client funds are held in segregated accounts in EU regulated banks
                                        </div>
                                    </div>
                                </div>
                                <div class="slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/wallet250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            A single wallet for Forex/CFD &amp; Binary </div>
                                    </div>
                                </div>
                                <div class="slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/security_250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            Secured by SSL </div>
                                    </div>
                                </div>
                                <div class="slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/24_7_250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            Round the clock expert helpcenter </div>
                                    </div>
                                </div>
                                <div class="slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/LSE250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            BO Tradefinancials is a part of the TechFinancials group and is listed
                                            on London Stock Exchange AIM </div>
                                    </div>
                                </div>
                                <div class="slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/fairness250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            A Regulated Broker since 2013 </div>
                                    </div>
                                </div>
                                <div class="slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/banks_250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            Client funds are held in segregated accounts in EU regulated banks
                                        </div>
                                    </div>
                                </div>
                                <div class="slide bx-clone active-slide"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/wallet250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            A single wallet for Forex/CFD &amp; Binary </div>
                                    </div>
                                </div>
                                <div class="slide bx-clone"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/security_250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            Secured by SSL </div>
                                    </div>
                                </div>
                                <div class="slide bx-clone"
                                    style="float: left; list-style: none; position: relative; width: 400px;">
                                    <img src="{% static 'assets/07/24_7_250x250.png' %}">
                                    <div class="bannerText">
                                        <div class="bannerContent">
                                            Round the clock expert helpcenter </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bx-controls bx-has-pager bx-has-controls-direction">
                            <div class="bx-pager bx-default-pager">
                                <div class="bx-pager-item"><a href="" data-slide-index="0"
                                        class="bx-pager-link active">1</a></div>
                                <div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a>
                                </div>
                                <div class="bx-pager-item"><a href="" data-slide-index="2" class="bx-pager-link">3</a>
                                </div>
                                <div class="bx-pager-item"><a href="" data-slide-index="3" class="bx-pager-link">4</a>
                                </div>
                                <div class="bx-pager-item"><a href="" data-slide-index="4" class="bx-pager-link">5</a>
                                </div>
                                <div class="bx-pager-item"><a href="" data-slide-index="5" class="bx-pager-link">6</a>
                                </div>
                            </div>
                            <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next"
                                    href="">Next</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>







        <section class="carouselBlock"
            style="background: url(https://storage.googleapis.com/crypto_static/assets/07/carousel_bg1.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
            <div class="blockText">
                <h3><b>Our Testimonials</b></h3>
            </div>

            <div class="bx-wrapper wrapper">
                <div class="bx-viewport">
                    <div class="carousel" id="carousel">
                        <div class="slide">
                            <img src="{% static 'assets/picshow/1.jpg' %}" style="opacity: 10;border-radius:105px;">
                            <div class="bannerText">
                                <div class="bannerContent" style="width: 40%;color:white;">
                                    <h2><b>GUILL MANTE</b></h2>
                                    My family and me want to thank you for helping us find a great opportunity to
                                    make money online. Very happy with how things are going!
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{% static 'assets/picshow/2.jpg' %}" style="opacity: 10;border-radius:105px;">
                            <div class="bannerText">
                                <div class="bannerContent" style="width: 40%;color:white;">
                                    <h2><b>ANAS SULAIMAN</b></h2>
                                    I love to have extra money. If I have time I invest by myself, but sometimes you
                                    want to have time for your family or friends,
                                    especially when you are on holidays.
                                    It's sooo great to come back rested, tanned etc and with extra money at your
                                    accounts. Good work, guys!
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{% static 'assets/picshow/3.jpg' %}" style="opacity: 10;border-radius:105px;">
                            <div class="bannerText">
                                <div class="bannerContent" style="width: 40%;color:white;">
                                    <h2><b>DEEPALI GANDHI</b></h2>
                                    This is a realistic program for anyone looking for site to invest. Paid to me
                                    regularly,
                                    Good and quick profit. I used this website many times and I can recommend it.
                                    keep up good work.
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{% static 'assets/picshow/4.jpg' %}" style="opacity: 10;border-radius:105px;">
                            <div class="bannerText">
                                <div class="bannerContent" style="width: 40%;color:white;">
                                    <h2><b>ETIENNE DREYER</b></h2>
                                    I invested $350. It wasn’t easy to wait 14 days to have my bitcoins doubled,
                                    but most important thing is this site is legit and paying.
                                    Plus for good and patient helpcenter. I will increase my investment as soon as i
                                    get my monthly salary.
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <img src="{% static 'assets/picshow/5.jpg' %}" style="opacity: 10;border-radius:105px;">
                            <div class="bannerText">
                                <div class="bannerContent" style="width: 40%;color:white;">
                                    <h2><b>ALEX HUNG</b></h2>
                                    This is a fantastic program, punctual paying, thanks a lot. I recommend this
                                    hyip!
                                </div>
                            </div>
                        </div>

                        <div class="slide">
                            <img src="{% static 'assets/picshow/6.jpg' %}" style="opacity: 10;border-radius:105px;">
                            <div class="bannerText">
                                <div class="bannerContent" style="width: 40%;color:white;">
                                    <h2><b>SABEEHA DAWOOD</b></h2>
                                    Bitcoin doubled in 7 days. You should not expect anything more. Excellent
                                    customer service!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>












        <section>
            <div class="wrapper education">
                <div class="education_block">
                    <img alt="education_icon" src="{% static 'assets/07/education_icon.png' %}">
                    <p></p>
                    <h3 class="education_title">Education Center</h3>
                    <p>Maximize Your Market Potential</p>
                    <p>Coinwintrade Education Center is packed with exclusive training tools, and is geared to
                        meet the needs of investors at every level.</p>
                </div>
                <div class="education_images">
                    <a href="#"><img src="{% static 'assets/cryptocert.jpeg' %}"
                            alt="edu_video"><span>Certification</span></a><br>
                    <a href="#"><img src="{% static 'assets/07/edu_trading.jpg' %}"
                            alt="edu_trading courses"><span>Trading
                            Courses</span></a><br>
                    <a href="#"><img src="{% static 'assets/07/edu_ebook.jpg' %}"
                            alt="edu_ebooks"><span>Ebooks</span></a>
                </div>

            </div>
        </section>
        <section
            style="background: url(https://storage.googleapis.com/crypto_static/assets/07/mobile_apps_bg1.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
            <div class="mobileApps_block wrapper">
                <div class="mobileApps_text">
                    <p class="mobileApps_title">Investing On the Go</p>
                    <p class="mobileApps_descr">Trade anytime, anywhere via mobile web for an exceptional investing
                        experience, on the move to never miss a trading opportunity.</p>
                </div>
                <div class="mobileApps_icons">

                </div>
            </div>
        </section>
        <section
            style="background: url(https://storage.googleapis.com/crypto_static/assets/07/regform_bg1.jpg) no-repeat 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
            <div class="openAccBlock">
                <div class="openAcc">helpcenter@Coinwintrade.com</div>

                <p></p>

            </div>
        </section>

    </div>
    <!--/MainContent-->


</div>
<!--/wrapper-->

<!-- wrapper -->

<!--/MainContent-->


{% endblock %}